@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
  background-color: #f4f7fc;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 600px;
  margin-top: 100px;
}

h1 {
  font-size: 2.2rem;
  color: #ffffff;
  font-weight: 900;
}

.btn-group-vertical .btn {
  font-size: 1.3rem;
}

form .form-control {
  padding: 1rem;
}

.btn {
  font-size: 1.1rem;
  padding: 10px 20px;
}

a {
  text-decoration: none;
  
}

a:hover {
  text-decoration: none;
}


/*apply the background image to all pages */
body {
  background-image: url('/css/image.png');  /* Path relative to the public folder */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 100vh; 
}

.container {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  padding: 40px;
  border-radius: 10px;
}

/* Additional styles for buttons */
.btn-custom {
  width: 50%;
  height: 60px;
  font-size: 18px;
}

@media (min-width: 992px) {
  .btn-custom {
    width: 50%;
    height: 60px;
  }
}

.ct1{
  display: flex;

}

.mt-5{
  margin-top: 5rem !important;
}